{% extends "base.html" %}
{% block title %}{{another_user.username}} repositories{% endblock %}
{% block content %}
    <h1>{{another_user.username}} repositories</h1>
    {% if repositories %}
        <ul>
            {% for repo in repositories %}
            <li>
                <a href="{% url 'repository_detail' repo.user.username repo.name %}">{{repo.name}}</a>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{{another_user.username}} don't have any repositories yet</p>
    {% endif %}
{% endblock %}