{% extends "base.html" %}
{% block title %}Create new repository{% endblock %}
{% block content %}
    <h1>Create new repository</h1>
    <form method="post" enctype="multipart/form-data">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="text" id="directories" name="directories" hidden />
        <p></p>
        <p><input type="submit" value="Create"></p>
    </form>
<!--Скрипт записывает в словарь directories, ключ: имя файла, значение: полный путь (Django удаляет путь в имени файла) -->
<script>
 files = document.querySelector("#id_files").files;
 document.querySelector("#id_files").addEventListener("change", function() {
    files = document.querySelector("#id_files").files;
    var directories = {}
    for (var file of files) {
      file.webkitRelativePath
      directories[file.name] = file.webkitRelativePath
    }
    directories = JSON.stringify(directories);
    document.querySelector("#directories").value = directories
 });
</script>
{% endblock %}
