{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% block title %} {{relative_path.name}} {% endblock %}
{% block content %}

<h1><a href="{% url 'repository_detail' repository.user.username repository.name %}">{{repository.name}}</a></h1>

<h5>
{% with text=relative_path %}
    {% for part, path in text|split_by_slash %}<a href="{% url 'file_detail' repository.user.username repository.name path %}">{{part}}\</a>{% endfor %}
{% endwith %}
</h5>

{% if text_lines %}
<pre class="line-numbers"><code class="language-javascript">{% for line in text_lines %}<span class="numeration"></span>{{line}}{% endfor %}</code></pre>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/plugins/line-numbers/prism-line-numbers.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/plugins/line-numbers/prism-line-numbers.min.js"></script>

<script>
    Prism.highlightAll();
</script>
{% endif %}

{% if img_path %}

    <style>
    .img-container {
        width: 100vw;
        height: 100vh;
    }
            /* Стиль для изображения */
        img {
            /* Заполняем максимально возможную площадь контейнера без обрезки */
            width: auto;
            height: auto;
            max-width: 70%;
            max-height: 70%;
            /* Убираем лишние пространства вокруг изображения */
            object-fit: contain;
        }
    </style>
    <div class="img-container">
        <img src="{{ MEDIA_URL }}{{img_path}}" >
    </div>


{% endif %}


{% endblock %}


