{% extends "base.html" %}
{% block title %}My repositories{% endblock %}
{% block content %}
    <h1>My repositories</h1>
    <p>
        <a href="{% url "create_repository" %}">Create new repository</a>
    </p>
    {% if repositories %}
        <ul>
            {% for repo in repositories %}
            <li>
                <a href="{% url 'repository_detail' user.username repo.name %}">{{repo.name}}</a>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You don't have any repositories yet</p>
    {% endif %}
{% endblock %}