{% extends "base.html" %}
{% block title %}{{repository.name}}{% endblock %}
{% block content %}
<style>
    /* Стили для отображения иконок сворачивания/разворачивания */
    .caret {
        cursor: pointer;
<!--            user-select: none; /* Запретить выделение текста */-->
    }
    .caret-down {
        transform: rotate(90deg);
    }
    .nested {
        display: none;
    }
    .active {
        display: block;
    }
    ul {
        list-style-type: none;
    }
</style>

<h1>{{repository.name}}</h1>
<p>{{repository.description}}</p>

{% if file_structure %}
<button id="expandButton" class="expand" onclick="expand_collapse()">Expand all</button>

    <ul>
        {% include 'repository/repository_files.html' %}
    </ul>
{% else %}
    <p>No files added</p>
{% endif %}


{% if repository.user == user %}
    <a href="{% url 'delete_repository' repository.pk %}" class="btn btn-danger me-2">Delete</a>
{% endif %}


<script>
    // Получить все элементы с классом "caret"
    var toggler = document.getElementsByClassName("caret");
    var i;

    // Добавить обработчик события click к каждому элементу
    for (i = 0; i < toggler.length; i++) {
        toggler[i].addEventListener("click", function() {
            this.parentElement.querySelector(".nested").classList.toggle("active");
            this.classList.toggle("caret-down");
        });
    }

    function expand_collapse() {
        // Получаем все элементы с классом "nested"

        var nestedElements = document.querySelectorAll(".nested");
        var btn = document.getElementById("expandButton");
        if (btn.className == "expand") {
            for (var i = 0; i < nestedElements.length; i++) {
                nestedElements[i].classList.add("active");
            }
            btn.innerText = "Collapse all";
            btn.classList.remove("expand");
        } else {
            for (var i = 0; i < nestedElements.length; i++) {
                nestedElements[i].classList.remove("active");
            }
            btn.innerText = "Expand all";
            btn.classList.add("expand");
        }

    }

    function expandFirstLevel() {
        // Получаем первый элемент с классом "nested"
        var firstNested = document.querySelector(".nested");
        firstNested.classList.add("active");
    }

    document.addEventListener("DOMContentLoaded", function() {
        expandFirstLevel();
    });


</script>

{% endblock %}