{% extends "base.html" %}
{% block title %}{{repository.name}}{% endblock %}
{% block content %}

    <style>
        /* Стили для отображения иконок сворачивания/разворачивания */
        .caret {
            cursor: pointer;
<!--            user-select: none; /* Запретить выделение текста */-->
        }
        .caret-down {
            transform: rotate(90deg);
        }
        .nested {
            display: none;
        }
        .active {
            display: block;
        }
    </style>

<h2>File Explorer</h2>
<!-- Файловая структура -->
<ul id="fileExplorer">
    <li><span class="caret">Folder</span>
        <ul class="nested">
            <li>File</li>
            <li><span class="caret">Subfolder</span>
                <ul class="nested">
                    <li>File</li>
                    <li>File</li>
                </ul>
            </li>
        </ul>
    </li>
    <li>File</li>
    <li>File</li>
</ul>

<script>
    // Получить все элементы с классом "caret"
    var toggler = document.getElementsByClassName("caret");
    var i;

    // Добавить обработчик события click к каждому элементу
    for (i = 0; i < toggler.length; i++) {
        toggler[i].addEventListener("click", function() {
            this.parentElement.querySelector(".nested").classList.toggle("active");
            this.classList.toggle("caret-down");
        });
    }
</script>

{% endblock %}







<!--<h5>{{ file_structure.dir }}</h5>-->
<!--<ul>-->
<!--    {% for sdir in file_structure.subdir %}-->
<!--        <li>-->
<!--            <ul>-->
<!--                {% include 'repository/repository_files.html' with file_structure=sdir %}-->
<!--            </ul>-->
<!--        </li>-->
<!--    {% endfor %}-->
<!--    {% for file in file_structure.files %}-->
<!--        <li>{{ file }}</li>-->
<!--    {% endfor %}-->
<!--</ul>-->